/* style sheet */
:root {
    --navy: #284B63;
    --charcoal: #353535;
    --white: #FFFFFF;
    --smoke: #D9D9D9;
    --teal: #3C6E71;
}

/* imports the Noto Sans Display font from google fonts to use within the style sheet */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@500&display=swap');

/* sets the default font and font weight for all the elements on the page */
* {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: bolder;
}

/* sets base styles for header element */
header {
    background: var(--navy);
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

/* sets base styles for the elements within navbar like the links */
nav {
    color: var(--navy);
    display: flex;
}

/* makes list items inline with each other and spaced evenly in their container */
ul {
    display: flex;
    justify-content: space-evenly;
}

/* gives the links in the navbar a white underline and determines space between each other */
nav a {
    text-decoration: none;
    text-decoration-color: var(--white);
    margin: .5rem;
}
/* adds animation to links in navbar */
.nav-link {
    transition: all 150ms ease-in-out;
}
/* sets animation to scale and underline link on hover */
.nav-link:hover {
    transform: scale(1.1);
    text-decoration: underline;
    text-underline-offset: .5rem;
}

/* removes color changing of links after clicking */
a, a:visited, a:hover, a:active {
    color: var(--white) !important;
  }

/* changes the title on the navbar */
h1 {
    border-radius:15px;
    padding: .5rem;
    color:var(--white);
    background: var(--charcoal);
    font-size: 2rem;
}

/* Puts header and navbar items into a stacked column when on a smaller screen */
@media screen and (max-width:591px) {
        header {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        nav {
            margin: 1rem;
            font-size: 1.5rem;
            line-height: 2rem;
        }
        nav ul {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
}