/* Creates color variables to use repeatedly within this style sheet */
:root {
    --navy: #284B63;
    --charcoal: #353535;
    --white: #FFFFFF;
    --smoke: #D9D9D9;
    --teal: #3C6E71;
}

/* imports the Noto Sans Display font from google fonts to use within the style sheet */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@500&display=swap');

/* sets the default font and font weight for all the elements on the page */
* {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: bolder;
}

/* sets base styles for header element */
header {
    background: var(--navy);
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

/* sets base styles for the elements within navbar like the links */
nav {
    color: var(--navy);
    display: flex;
}

/* makes list items inline with each other and spaced evenly in their container */
ul {
    display: flex;
    justify-content: space-evenly;
}

/* gives the links in the navbar a white underline and determines space between each other */
nav a {
    text-decoration: none;
    text-decoration-color: var(--white);
    margin: .5rem;
}

/* adds animation to links in navbar */
.nav-link {
    transition: all 150ms ease-in-out;
}

/* sets animation to scale and underline link on hover */
.nav-link:hover {
    transform: scale(1.1);
    text-decoration: underline;
    text-underline-offset: .5rem;
}

/* removes color changing of links after clicking */
nav a, nav a:visited, nav a:hover, nav a:active {
    color: var(--white) !important;
  }

/* changes the title on the navbar */
h1 {
    border-radius:15px;
    padding: .5rem;
    color:var(--white);
    background: var(--teal);
    font-size: 2rem;
}

/* sets style for the title in each section */
h2{
    color: var(--teal);
    font-size: 2.5rem;
    margin: 1rem;
    text-align: end;
}

/* sets base styles for captions on work example images */
h3 {
    width: 51rem;
    margin: 1rem;
    padding: 1rem;
    color: var(--white);
    background-color: var(--navy);
    border: .5rem solid var(--teal);
    position: relative;
    top: 12.2rem;
    left: -.9rem;
}


span {
    position: relative;
    font-size: 3rem;
    line-height: 4rem;
    color: var(--teal);
    width: 4rem;
}

/* aligns items in the container holding the about me information */
.about {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem;
    align-items: top;
}

/* sets line height spacing for about me paragraph */
#about {
    padding-top:1rem;
    line-height: 1.8rem;
    align-items: top;
    justify-content: center;
}

/* aligns items in the container holding previous work */
.work {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 2rem;
    align-items: top;
}

/* sets positioning of title and separator */
#work-title {
    padding: 2rem;
    margin-right: -1rem;
    text-align: end;
}

/* removes the underline on the caption inside work images */
.work a {
    text-decoration: none;
}

/* sets the image properties to the example image of work */
a div {
    background-repeat: no-repeat;
    background-size: 50rem;
    width: 50rem;
    height: 20rem;
    opacity: 50%;
    transition: all 1s ease-in-out;
}

/* opacity animation on hover */
a div:hover {
    opacity: 100%;
}

/* sets background image of Prework Study Guide project */
.work1 {
    background-image: url(./study-guide.jpg);
    margin-left: 5rem;
    margin-right: 5rem;
}

/* affects the captions on the work images */
.work h3 {
    position: relative;
    top: -4rem;
    left:1rem;
    width: 50rem;
    margin: 0;
}

/* sets background image of CSS Code Snippet project */
.work2 {
    background-image: url(./snippet.jpg);
}

/* sets background image for the first placeholder */
.placeholder1 {
    background-image: url(./alvaro-reyes-qWwpHwip31M-unsplash.jpg);
}

.placeholder2 {
    background-image: url(./brands-people-Ax8IA8GAjVg-unsplash.jpg);
}

/* sets the work example border */
.work a div {
    border: .5rem solid rgba(217, 217, 217, 1);
    padding: 0;
    margin-left: 1rem;
}

/* aligns items in the container holding contact information */
.contact {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 2rem;
    align-items: top;
    padding-left: .8rem;
}

/* adds text color, size, and positioning for contact links */
.contact-link a {
    color: var(--teal);
    margin: 3rem;
    text-align: center;
    text-decoration: none;
    position: relative;
    top: 5rem;
    left: 5rem;
    font-size: 2rem;
}

/* background image for under the header */
.bkgr {
    background-image: url(./waves.jpg);
    background-position: center;
    width:auto;
    height: 6rem;
}

@media screen and (min-width: 619px){

    /* creates a content and title divider vertically */
    .separator {
        border-left: .4rem solid var(--teal);
        border-radius: 1rem;
        height: 15rem;
        margin: 2rem;
        padding:0;
        top:-1rem;
        position:relative;
        
    }

    /* adds bouncing animation only for larger screens  */
    .contact-link a {
        transition: all 50ms ease-in;
        display:inline-block;
    }
    
    .contact-link a:hover {
        /* other browsers */
        animation: bounce 500ms infinite;
        /* webkit browsers */
       -webkit-animation: bounce 500ms infinite;
       /* firefox */
       -moz-animation: bounce 500ms infinite;
       /* opera */
       -o-animation: bounce 500ms infinite; 
    }
    
    /* --- CSS3 Bounce Animation --- */

    /* webkit browsers */
    @-webkit-keyframes bounce {
        0%,  
        100% {
           -webkit-transform: translateY(0);
        } 
        50% {
            -webkit-transform: translateY(-15px);
        }
    }

    /* mozilla browsers */
    @-moz-keyframes bounce {
        0%, 
        100% {
           -moz-transform: translateY(0);
        }
        50% {
           -moz-transform: translateY(-15px);
        }
    }

    /* opera browsers */
    @-o-keyframes bounce {
        0%,
        100% {
           -o-transform: translateY(0);
        }
        50% {
           -o-transform: translateY(-15px);
        }
    }

    /* other browsers */
    @keyframes bounce {
        0%,  
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-15px);
        }
    }
}

/* sets styles for smaller screen sizing */
@media screen and (max-width:618px) {

        /* moves header elements/items to the center as a column */
        header {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        /* adjusts navbar font size and spacing */
        nav {
            margin: 1rem;
            font-size: 1.5rem;
            line-height: 2rem;
        }

        /* moves navbar items into a column */
        nav ul {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        /* changes the content divider to horizontal when on a smaller screen */
        .separator{
            border-top: .4rem solid var(--teal);
            width: 15rem;
            border-radius: 1rem;
            margin: 2rem;
        }

        /* changes content layout to a column for smaller screens */
        .about {
            padding:1rem;
            flex-direction: column;
            align-items: center;
        }

        /* sets position of work contents for smaller screens*/
        a div {
            position: relative;
            left: 2.2rem;
            width: 35rem;
        }

        /* changes content layout to a column for smaller screens */
        .work {
            padding:1rem;
            flex-direction: column;
            align-items: center;
            display: flex;
            justify-content: center;
        }

        /* sets positioning for captions on work images for smaller screens */
        .work h3 {
            position: relative;
            left: 3.2rem;
            width: 35rem;
        }

        /* changes content layout to a column for smaller screens */
        .contact {
            padding:1rem;
            flex-direction: column;
            align-items: center;
        }

        /* puts contact links into a column and centers them on smaller screens */
        .contact-link {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position:relative;
            right: 5rem;
            bottom: 5rem;
            line-height: 2.5rem;
        }

}